# Node
node_modules/
dist/

# Python
__pycache__/
venv/
.env

# OS
.DS_Store

.env
.env.local
.env.dev
.env.prod

__pycache__/
node_modules/

frontend/node_modules/
backend/__pycache__/

postgres_data/
